@import '../../assets/scss/variables';

.pagination {
    text-align: center;

    &__button {
        background-color: transparent;
        color: #484848;
        border: 1px solid $btn-border-color;
        font-size: 14px;
        padding: 3px 6px;
        border-radius: 4px;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 3px;
        }

        &.active {
            background-color: $btn-bg-color;
            color: $btn-text-color;
        }
    }
}