$btn-bg-color: #204080;
$btn-hover-bg-color: #4F75C2;
$btn-text-color: #FFFFFF;
$btn-border-color: #000000;


$logo-text-color: #484848;

$search-border-color: #204080;

$results-border-color: #484848;

$item-dark-color: #090A0A;
$item-light-color: #72777A;
$item-hover-bg-color:  rgba(79, 117, 194, 0.21);

$footer-bg-color: rgba(41, 78, 152, 0.72);
$footer-text-color: #fff;

$order-border-color: #8F8F8F;
$order-hover-bg-color:  #B3B3B3;
$order-hover-text-color: #fff;
$order-title-text-color:  #484848;

$form-label-color:  #686868;
$form-input-hover-bg-color: rgba(100, 100, 100, 0.08);
$form-input-placeholder-color: rgba(100, 100, 100, 0.5);
$form-input-border-color: #484848;
$form-error-label-color: rgba(255, 0, 0, 0.7);
$form-error-text-color: rgba(255, 0, 0, 0.5);
$form-error-placeholder-color: rgba(255, 0, 0, 0.5);

$add-title-color: #484848;

$modal-bg-color: #C4C4C4;
$modal-text-color: #090A0A;
$modal-btn-text-color: #fff;
$modal-btn-bg-color: #FF4E78;










