$btn-bg-color: #204080;
$btn-hover-bg-color: #4F75C2;
$btn-text-color: #FFFFFF;
$btn-border-color: #000000;

$logo-text-color: #484848;

$search-border-color: #204080;

$results-border-color: #484848;

$item-dark-color: #090A0A;
$item-light-color: #72777A;
$item-hover-bg-color:  rgba(79, 117, 194, 0.21);


