@import "../../assets/scss/variables";

.list-item {
    display: flex;
    align-items: center;
    padding: 10px;

    
    &:hover{
        background-color: $item-hover-bg-color;
        border-radius: 8px;
        cursor: pointer;
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
    }

    &__info-2{
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__company{
        font-size: 16px;
        color: $item-dark-color;
        margin: 0px;
        margin-bottom: 4px;

    }

    &__location{
        color: $item-light-color;
        font-size: 14px;
    }

    &__name{
        color: $item-light-color;
        font-size: 16px;
    }

    &__date{
        color: $item-dark-color;
        font-size: 16px;
    }

    &__home-hr{
        width: 500px;
        opacity: 0.3;
    }

    
}