@import '../../assets/scss/variables';

.footer{
    margin-top: 50px;
    background-color: $footer-bg-color;
    color: $footer-text-color;
    display: flex;
    align-items: center;
    padding: 25px 50px;

    &__img{
        flex: 1;
        
    }
    &__location{
        flex: 2.5;
        height: 220px;
    }

    &__info{
        flex: 2;
        font-style: normal;
        margin-left: 20px;
        margin-right: 20px;
        
    }
}